/* Styling for the the team bar*/
.headerbar {
	background-color: rgb(214, 84, 90);
	padding: 50px 0px 50px 0px;
	justify-content: center;
	color: white;
	margin-bottom: 20px;
}

/*styling for the card body(blue part)*/
.card-body {
	background-color: rgb(51, 113, 239);
	color: white;
	padding: 15px;
	padding-bottom: 10px;
}

/*styling for the card footer*/
.card-footer {
	padding: 15px;
}

/*styling for the whole card*/
.card {
	box-shadow: 5px 5px 5px rgb(131, 131, 131);
	border-radius: 5px;
}
/*center the employee cards*/
.theTeam {
	justify-content: center;
}
