.headerbar {
	background-color: rgb(214, 84, 90);
	padding: 50px 0px 50px 0px;
	justify-content: center;
	color: white;
	margin-bottom: 20px;
}

.card-body {
	background-color: rgb(51, 113, 239);
	color: white;
	padding: 15px;
	padding-bottom: 10px;
}

.card {
	box-shadow: 5px 5px 5px rgb(131, 131, 131);
	border-radius: 5px;
}

.theTeam {
	justify-content: center;
}
